---
import Modal from "../../../components/Modal.astro";
import CourseLayout from "../../../layouts/CourseLayout.astro";
import { db, eq, and, Attendance as AttendanceModel } from "astro:db";
import { getCourseData } from "../../../lib/courseUtils";

export const prerender = false;

const { id_school, id_course } = Astro.params;

if (!id_school || !id_course) {
  return new Response("Parámetros inválidos", {
    status: 400,
    statusText: "Bad Request",
  });
}

const result = await getCourseData(Astro.request, id_school, id_course);

if (result.error) {
  return new Response(result.error, {
    status: result.status,
    statusText: result.statusText,
  });
}

const { school, course, userId } = result;

const attendanceData = await db
  .select()
  .from(AttendanceModel)
  .where(
    and(
      eq(AttendanceModel.course_id, id_course),
      eq(AttendanceModel.user_id, userId),
    ),
  );
---

<CourseLayout school={school} course={course} activeTab="attendance">
  <div>
    <div
      class="flex justify-between items-center w-full md:max-w-xl max-w-2xl my-8"
    >
      <h1 class="text-center text-2xl font-semibold text-white">Asistencias</h1>
      <button
        id="addAttBtn"
        class="bg-orange-600 hover:bg-orange-700 text-white font-bold mx-4 rounded-lg transition-colors"
      >
        <svg
          class="stroke-2 stroke-white size-8 group-hover:stroke-zinc-700"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 12h5m0 0h5m-5 0V7m0 5v5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>

    <Modal id="AttModal" title="Añadir Asistencia">
      <div>
        <label for="attName" class="block mb-2 dark:text-white"
          >Nombre del alumno</label
        >
        <input
          type="date"
          id="attName"
          class="w-full p-2 border rounded-lg dark:bg-zinc-700 dark:text-white dark:border-zinc-600"
          required
        />
      </div>
    </Modal>

    {
      attendanceData.length === 0 ? (
        <p class="text-gray-400">
          No hay asistencias registradas para este curso.
        </p>
      ) : (
        <ul class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-3">
          {attendanceData.map((att) => (
            <a href={`/${school.id}/${course.id}/${att.id}`} class="h-full w-full">
              <li class="flex justify-center items-center dark:text-white rounded-md bg-zinc-700 p-2 select-none hover:bg-white hover:text-zinc-700 transition-all">
                {new Date(att.attendance_date).toLocaleDateString()}
              </li>
            </a>
          ))}
        </ul>
      )
    }
  </div>
</CourseLayout>


<script>
  import { $ } from "../../../lib/dom-selector";

  const $addAttBtn = $("#addAttBtn");
  const $attForm = $("#AttModalForm");

  // Mostrar modal
  if ($addAttBtn) {
      // Usar una aserción de tipo
      ($addAttBtn as HTMLElement).addEventListener("click", () => {
          (window as any).showAttModal();
      });
  }

  // Enviar formulario
  if ($attForm) {
      $attForm.onsubmit = async (e) => {
          e.preventDefault();

          const attName = ($("#attName") as HTMLInputElement).value;

          if (!attName) return;

          
          const courseDataEl = document.getElementById("courseData");
            const id_course = courseDataEl.dataset.courseId;


          try {
              const response = await fetch("/api/", {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/json",
                  },
                  body: JSON.stringify({ name: attName, course_id: id_course }),
              });

              if (response.ok) {
                  // Recargar la página para mostrar la nueva escuela
                  window.location.reload();
              } else {
                  console.error("Error al crear el estudiante");
              }
          } catch (error) {
              console.error("Error:", error);
          }
      };
  }
</script>
